# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

- List popular languages for Data Science
- List commonly used libraries in Data Science
- List development environment open source tools used in Data Science

## Author
Harshit Pande

Some of the popular languages that Data Scientists use are:

1. Python
2. Java
3. Julia
4. C++
5. Scala
6. Javascript

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. Scikit learn

|Data Science Tools|
|---|
|R Studio|
|Jupyter|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
(200/60)

3.3333333333333335